.tournament {
  display: flex;
  height: 100px;
  width: 80%;
  margin-left: 50%;
  translate: -50%;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

.img {
  height: 100%;
  width: 20%;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.tournamentName {
  margin-left: -20%;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  translate: 20%;
}
