<section class="category" id="category">
  <div class="title">
    <h2 class="titleText">Football <span>T</span>ournaments</h2>
    <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>

    <a class="box" href="/tournament">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </a>
  </div>

  <div class="title">
    <a href="#" class="btn">View All</a>
  </div>
</section>
