<app-header2></app-header2>

<section class="category" id="category">
  <div class="title">
    <h2 class="titleText">Football <span>T</span>ournaments</h2>
    <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <a *ngFor="let tournament of tournamentsArr" class="box" href="/tournament">
      <div class="imgBx">
        <img src="{{tournament.img}}">
      </div>
      <div class="text">
        <h3>{{tournament.tournament_name}}</h3>
      </div>
    </a>
  </div>
  <div class="title">
    <a href="/" class="btn">Go to back</a>
  </div>
</section>
