<app-header></app-header>

<section class="banner" id="banner">
  <div class="content">
    <h2>Always Choose Good</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iste impedit id officiis adipisci, nostrum esse sequi minus, repellendus provident enim.</p>
    <a href="#tournaments" class="btn">Tournaments</a>
  </div>
</section>

<section class="about" id="about">
  <div class="row">
    <div class="col50">
      <h2 class="titleText"><span>A</span>bout Us</h2>
      <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Explicabo vitae in atque consectetur necessitatibus, expedita excepturi, aut quis doloribus repellat eligendi quasi quae ex. Vero odit illo quia ducimus, esse veniam assumenda numquam! Quod praesentium quis, tenetur assumenda tempora laborum numquam minima. Eligendi iure ducimus totam ex molestias exercitationem dolorum.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, sequi porro delectus a perferendis maiores vel officia tempora, debitis atque reiciendis sit numquam facere, officiis assumenda ab earum nam et.</p>
    </div>
    <div class="col50">
      <div class="imgBx">
        <img src="assets/img/aboutImg.jpg">
      </div>
    </div>
  </div>
</section>

<section class="category" id="category">
  <div class="title">
    <h2 class="titleText">Sport <span>C</span>ategories</h2>
    <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <a *ngFor="let category of categories | slice:0:6;" class="box" href="/tournament">
      <div class="imgBx">
        <img src="{{category.img}}">
      </div>
      <div class="text">
        <h3>{{category.category_name}}</h3>
      </div>
    </a>
  </div>

  <div class="title">
    <a href="/tournaments" class="btn">View All</a>
  </div>
</section>

<section class="tournaments" id="tournaments">
  <div class="title">
    <h2 class="titleText">Recommend <span>T</span>ournaments</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia magni reiciendis, ab! Voluptates, mollitia laborum.</p>
  </div>
  <div class="content">

    <div class="box">
      <div class="imgBx">
        <img src="assets/img/sport1.png">
      </div>
      <div class="text">
        <h3>Almaty Football</h3>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <img src="assets/img/sport4.png">
      </div>
      <div class="text">
        <h3>Almaty Tennis</h3>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <img src="assets/img/sport5.png">
      </div>
      <div class="text">
        <h3>Almaty Volleyball</h3>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <img src="assets/img/sport7.png">
      </div>
      <div class="text">
        <h3>Almaty Basketball</h3>
      </div>
    </div>
  </div>
</section>

